<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal | Liceo Atenas</title>
    <link href="styles/styleMenuPrincipal.css" rel="stylesheet" type="text/css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="header">
      <a href="menuPrincipal"><i class='fas fa-arrow-circle-left' style='font-size:50px'> </i></a>
      <h1>Liceo de Atenas Martha Mirambell Umaña</h1>
    </div>

    <div class="vertical-menu">
        <h2> ¿Qué acción desea realizar?</h2>
        <a class='fas fa-edit' style='font-size:33px' href="addStudent"> Agregar estudiante </a>
        <a class='fas fa-trash-alt' style='font-size:32px' href="deleteStudent"> Eliminar estudiante</a>
        <a class='fas fa-id-card' style='font-size:32px' href="editStudent"> Editar estudiante</a>
      </div>
    
</body>
</html>