<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search Student | Liceo Atenas</title>
    <link href="styles/shortMenu.css" rel="stylesheet" type="text/css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>

    <div class="header">
      <a href="menuPrincipal"><i class='fas fa-arrow-circle-left' style='font-size:50px'> </i></a>
      <h1>Liceo de Atenas Martha Mirambell Umañaa</h1>
    </div>

    <div class="login-box">
        <h1><i class='far fa-address-card' style='font-size:36px'></i> Ingrese los datos del estudiante</h1>
        <form action="" method="POST">
            <!-- NAME INPUT -->
            <label for="nombre_completo">Nombre</label>
            <input id="nombre_completo" name ="nombre_completo" type="text" placeholder="Ingrese el nombre_completo">
            <!-- group INPUT -->
            <label for="grupo">Grupo</label>
            <select name="grupo" id="grupo">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
            </select>
            <!-- año INPUT -->
            <label for="año">Año</label>
            <select name="año" id="año">
              <option value="Septimo">Septimo</option>
              <option value="Octavo">Octavo</option>
              <option value="Noveno">Noveno</option>
              <option value="Decimo">Decimo</option>
              <option value="Undecimo">Undecimo</option>
            </select>
            <h1></h1>
            <button type="submit">Buscar</button>
        </form>
    </div>
    <%
    if (message === "Mal"){ %>
      <div class="alert alert-danger" role="alert">
        "El estudiante ingresado no existe u ocurrió un problema verifique el estudiante o intente más tarde"
      </div>
    <% }%>
  </body>
</html>