<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal | Liceo Atenas</title>
    <link href="styles/styleMenuPrincipal.css" rel="stylesheet" type="text/css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
<body>

  <div class="header">
    <a id="back" href="/"><i class='fas fa-arrow-circle-left' style='font-size:50px'> </i></a>
    <h1>Liceo de Atenas Martha Mirambell Umaña</h1>
  </div>

    <div class="vertical-menu">
        <h1> Bienvenido </h1>
        <h2> ¿Qué acción desea realizar?</h2>
        <a class='fas fa-user-tie' style='font-size:33px' href="administrarCuentas"> Administrar Cuentas </a>
        <a class='fas fa-user-graduate' style='font-size:30px' href="administrarEstudiantes"> Administrar Estudiante</a>
        <a class='fas fa-laptop-code' style='font-size:33px' href="buscarInformacion"> Buscar Información</a>
    </div>

    <a id="about" href="#openModal"><i class='far fa-question-circle' style='font-size:50px'><h3>Acerca de LAMMU</h3></i></a>
    <div id="openModal" class="modalDialog">
      <div>
        <a href="#close" title="Close" class="close">X</a>
        <i class='far fa-lightbulb' style='font-size:50px'> </i>
        <h1>Acerca de LAMMU </h1>
        <p>La motivación para crear esta herramienta nació después de estudiar el manejo de la información que tiene implementado el Liceo de Atenas Martha Mirambell Umaña.</p>
        <p>Encontramos que el sistema actual es un poco tedioso de utilizar; podemos calificarlo de rudimentario y poco eficiente.</p>
        <p>Nuestro equipo de trabaja, JORO, considera que este proyecto puede optimizar algunas funcionalidad diarias que son fudamentales para los profesores y administrativos.</p>
        <p>Esta aplicación fue creada por los estudiantes del Tecnológico de Costa Rica Joan Sánchez (joansanchez@estudiantec.cr) y Rodrigo Espinach (rodri2210eh@estudiantec.cr) a cargo de los profesores Aurelio Sanabria (ausanabria@itcr.ac.cr) y Maria Estrada (mestrada@itcr.ac.cr)</p>
      </div>
    </div>
    
</body>
</html>