body {
    margin: 0;
    padding: 0;
    background: url(../images/bg.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  
  .header {
    padding: 50px;
    background: #0D99FF;
    color: white;
    font-size: 25px;
  }

  .header h1{
    text-align: center;
  }

  .header i{
    position:absolute;
    bottom: -200px;
    left:10%;
    text-align: left;
    border: none;
    outline: none;
    height: 70px;
    background: #989898;
    color: #fff;
    border-radius: 20px;
  }

  .header i:hover {
    cursor: pointer;
    background: #9F84EE;
    color: #000;
  }
  

  .login-box {
    width: 340px;
    height: 700px;
    background: #0D99FF;
    color: #fff;
    top: 600px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 45px 30px;
  }

  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  
.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box button[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #989898;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box button[type="submit"]:hover {
    cursor: pointer;
    background: #9F84EE;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  }